# Submission Detail
********************************
## Name:- Aman Patkar 
## College:- Indian Institute of Technology Jammu

### Importing the libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier,\
GradientBoostingClassifier, VotingClassifier, BaggingClassifier, ExtraTreesClassifier\
,AdaBoostClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.model_selection import ShuffleSplit, StratifiedKFold
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
from collections import Counter
from sklearn.metrics import plot_roc_curve
from sklearn.metrics import roc_curve

### Loading the train and test data

In [2]:
train_data = pd.read_csv(r"dataset\Training Data.csv")
test_data = pd.read_csv(r"dataset\Test Data.csv")

### Some preprocessing to make test data as train data

In [3]:
test_data['profession']=test_data['profession'].apply(lambda x:'Flight_attendant' if x=='Flight attendant' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Petroleum_Engineer' if x=='Petroleum Engineer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Chartered_Accountant' if x=='Chartered Accountant' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Web_designer' if x=='Web designer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Financial_Analyst' if x=='Financial Analyst' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Software_Developer' if x=='Software Developer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Graphic_Designer' if x=='Graphic Designer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Army_officer' if x=='Army officer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Civil_servant' if x=='Civil servant' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Chemical_engineer' if x=='Chemical engineer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Air_traffic_controller' if x=='Air traffic controller' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Civil_engineer' if x=='Civil engineer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Industrial_Engineer' if x=='Industrial Engineer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Hotel_Manager' if x=='Hotel Manager' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Mechanical_engineer' if x=='Mechanical engineer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Computer_operator' if x=='Computer operator' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Technical_writer' if x=='Technical writer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Technology_specialist' if x=='Technology specialist' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Biomedical_Engineer' if x=='Biomedical Engineer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Design_Engineer' if x=='Design Engineer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Computer_hardware_engineer' if x=='Computer hardware engineer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Fashion_Designer' if x=='Fashion Designer' else x )
test_data['profession']=test_data['profession'].apply(lambda x:'Police_officer' if x=='Police officer' else x )
#------------------------------------------------------------------------------------------------------------------------------

test_data['city']=test_data['city'].apply(lambda x:'Bihar_Sharif' if x=='Bihar Sharif' else x )
test_data['city']=test_data['city'].apply(lambda x:'Sri_Ganganagar' if x=='Sri Ganganagar' else x )
test_data['city']=test_data['city'].apply(lambda x:'Ghaziabad' if x=='Khora, Ghaziabad' else x )
test_data['city']=test_data['city'].apply(lambda x:'New_Delhi' if x=='New Delhi' else x )
test_data['city']=test_data['city'].apply(lambda x:'Kirari_Suleman_Nagar' if x=='Kirari Suleman Nagar' else x )
test_data['city']=test_data['city'].apply(lambda x:'Sultan_Pur_Majra' if x=='Sultan Pur Majra' else x )
test_data['city']=test_data['city'].apply(lambda x:'Rajpur_Sonarpur' if x=='Rajpur Sonarpur' else x )
test_data['city']=test_data['city'].apply(lambda x:'Nangloi_Jat' if x=='Nangloi Jat' else x )
test_data['city']=test_data['city'].apply(lambda x:'North_Dumdum' if x=='North Dumdum' else x )
test_data['city']=test_data['city'].apply(lambda x:'South_Dumdum' if x=='South Dumdum' else x )
test_data['city']=test_data['city'].apply(lambda x:'Navi_Mumbai' if x=='Navi Mumbai' else x )
test_data['city']=test_data['city'].apply(lambda x:'Raurkela_Industrial_Township' if x=='Raurkela Industrial Township' else x )
test_data['city']=test_data['city'].apply(lambda x:'Surendranagar_Dudhrej' if x=='Surendranagar Dudhrej' else x )
test_data['city']=test_data['city'].apply(lambda x:'Bhalswa_Jahangir_Pur' if x=='Bhalswa Jahangir Pur' else x )
test_data['city']=test_data['city'].apply(lambda x:'Karawal_Nagar' if x=='Karawal Nagar' else x )
test_data['city']=test_data['city'].apply(lambda x:'Sangli-Miraj_&_Kupwad' if x=='Sangli-Miraj & Kupwad' else x )
#----------------------------------------------------------------------------------------------------------------------------
test_data['state']=test_data['state'].apply(lambda x:'West_Bengal' if x=='West Bengal' else x )
test_data['state']=test_data['state'].apply(lambda x:'Tamil_Nadu' if x=='Tamil Nadu' else x )
test_data['state']=test_data['state'].apply(lambda x:'Andhra_Pradesh' if x=='Andhra Pradesh' else x )
test_data['state']=test_data['state'].apply(lambda x:'Madhya_Pradesh' if x=='Madhya Pradesh' else x )
test_data['state']=test_data['state'].apply(lambda x:'Uttar_Pradesh' if x=='Uttar Pradesh' else x )
test_data['state']=test_data['state'].apply(lambda x:'Uttar_Pradesh' if x=='Uttar Pradesh[5]' else x )
test_data['state']=test_data['state'].apply(lambda x:'Jammu_and_Kashmir' if x=='Jammu and Kashmir' else x )
test_data['state']=test_data['state'].apply(lambda x:'Himachal_Pradesh' if x=='Himachal Pradesh' else x )

### Extrating target and dependent feature also with some preprocessing

In [71]:
xtrain=train_data.drop(['risk_flag','Id'],axis=1)
ytrain=train_data["risk_flag"]
xtrain['experiencePLUSjobyears']=xtrain['experience']+xtrain['current_job_years']
xtrain=xtrain.drop(['experience','current_job_years'],axis=1)

In [81]:
xtrain.head()

,income,age,married,house_ownership,car_ownership,profession,city,state,current_house_years,experiencePLUSjobyears
0,1303835,23,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,13,6
1,7574516,40,single,rented,no,Software_Developer,Parbhani,Maharashtra,13,19
2,3991815,66,married,rented,no,Technical_writer,Alappuzha,Kerala,10,8
3,6256451,41,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,12,4
4,5768871,47,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,14,14

In [72]:
# Train test split
X_train, X_test, y_train, y_test = train_test_split(xtrain,ytrain,test_size=0.3,random_state=2021)

In [73]:
model_rf=CatBoostClassifier(class_weights={0:1.5,1:1})

In [74]:
model_rf.fit(X_train,y_train,cat_features=X_train.columns,verbose=False)

In [75]:
pred_prob=model_rf.predict_proba(X_test)[:,1]

### To finding the best threshold based on roc

In [76]:

fpr, tpr, thresholds = roc_curve(y_test, pred_prob)
thresholds

array([1.94551757e+00, 9.45517566e-01, 9.19211998e-01, ...,
       9.91305030e-05, 9.59385964e-05, 8.95732551e-05])

### Listing threshold and roc score

In [77]:
roc_auc_score_ = []
for thres in thresholds:
    y_pred = np.where(pred_prob>thres,1,0)
    roc_auc_score_.append(roc_auc_score(y_test, y_pred))
    
roc_auc_score_ = pd.concat([pd.Series(thresholds), pd.Series(roc_auc_score_)],
                        axis=1)
roc_auc_score_.columns = ['thresholds', 'roc_auc_score']
roc_auc_score_.sort_values(by='roc_auc_score', ascending=False, inplace=True)
roc_auc_score_.head()

      thresholds  roc_auc_score
4542    0.093664       0.892831
4543    0.093502       0.892824
4540    0.094124       0.892792
4541    0.094038       0.892784
4544    0.086880       0.892781

In [78]:
pred_ens = np.where(pred_prob>0.093664,1,0)

In [80]:
print("Test roc_auc_score = {}".format(roc_auc_score(y_test,pred_ens)))
pd.DataFrame(confusion_matrix(y_test,pred_ens),\
             columns=['Predicted Negative', 'Predicted Positive'],\
             index=['Actual Negative', 'Actual Positive'])

Test roc_auc_score = 0.8928313573793318

                 Predicted Negative  Predicted Positive
Actual Negative               52210               14225
Actual Positive                   2                9163

## Submission

In [82]:
model_cat=CatBoostClassifier(class_weights={0:1.5,1:1})
model_cat.fit(xtrain,ytrain,cat_features=xtrain.columns,verbose=False)

In [83]:
xtrain.head()

,income,age,married,house_ownership,car_ownership,profession,city,state,current_house_years,experiencePLUSjobyears
0,1303835,23,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,13,6
1,7574516,40,single,rented,no,Software_Developer,Parbhani,Maharashtra,13,19
2,3991815,66,married,rented,no,Technical_writer,Alappuzha,Kerala,10,8
3,6256451,41,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,12,4
4,5768871,47,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,14,14

In [84]:
test_data=test_data.drop('id',axis=1)
test_data['experiencePLUSjobyears']=test_data['experience']+test_data['current_job_years']
test_data=test_data.drop(['experience','current_job_years'],axis=1)

In [85]:
test_data.head()

,income,age,married,house_ownership,car_ownership,profession,city,state,current_house_years,experiencePLUSjobyears
0,7393090,59,single,rented,no,Geologist,Malda,West_Bengal,13,23
1,1215004,25,single,rented,no,Firefighter,Jalna,Maharashtra,10,10
2,8901342,50,single,rented,no,Lawyer,Thane,Maharashtra,14,21
3,1944421,49,married,rented,yes,Analyst,Latur,Maharashtra,12,12
4,13429,25,single,rented,yes,Comedian,Berhampore,West_Bengal,11,31

In [86]:
pred_prob=model_cat.predict_proba(test_data)[:,1]

In [87]:
pred_ens = np.where(pred_prob>0.093664,1,0)

In [88]:
test_data = pd.read_csv("dataset\Test Data.csv")
train_data = pd.read_csv("dataset\Training Data.csv")
train_data=train_data.drop('risk_flag',axis=1)
test_data.columns=train_data.columns

In [89]:
final_dict={'id':test_data.Id.values,'risk_flag':pred_ens}

In [90]:
final_sub=pd.DataFrame(final_dict)

In [91]:
final_sub.to_csv('Submission_Catboost.csv',index=False)